In [1]:
import pandas as pdw

In [2]:
df = pd.read_csv('College.csv')

In [3]:
df.head(10)

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15
5,Yes,587,479,158,38,62,678,41,13500,3335,500,675,67,73,9.4,11,9727,55
6,Yes,353,340,103,17,45,416,230,13290,5720,500,1500,90,93,11.5,26,8861,63
7,Yes,1899,1720,489,37,68,1594,32,13868,4826,450,850,89,100,13.7,37,11487,73
8,Yes,1038,839,227,30,63,973,306,15595,4400,300,500,79,84,11.3,23,11644,80
9,Yes,582,498,172,21,44,799,78,10468,3380,660,1800,40,41,11.5,15,8991,52

In [6]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [7]:
df['Private'].unique()

array(['Yes', 'No'], dtype=object)

In [8]:
df['Private'] = encoder.fit_transform(df['Private'])

In [9]:
df['Private'].head(5)

0    1
1    1
2    1
3    1
4    1
Name: Private, dtype: int32

In [15]:
training_data = df.copy()

In [17]:
training_data = training_data[training_data.columns[1:]]

In [18]:
output_data = df['Private']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train , x_test , Y_train , y_test = train_test_split(training_data , output_data , test_size=0.3 ,random_state=5)

In [21]:
from sklearn.svm import SVC

In [22]:
model =  SVC()

In [23]:
model.fit(X_train ,Y_train)

C:\Users\KARAN SIKARWAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [24]:
predictions  = model.predict(x_test)

In [25]:
from sklearn.metrics import accuracy_score , confusion_matrix

In [26]:
confusion_matrix(y_test, predictions)

array([[  0,  64],
       [  0, 170]], dtype=int64)

In [27]:
accuracy_score(y_test,predictions)

0.7264957264957265

In [29]:
from sklearn.preprocessing import StandardScaler

In [30]:
scaler = StandardScaler()

In [35]:
scale_data = training_data.copy()

In [38]:
scale_data = scaler.fit_transform(scale_data)

In [44]:
scale_data  = pd.DataFrame(scale_data , columns=training_data.columns)

In [45]:
X_train , x_test , Y_train , y_test = train_test_split(scale_data , output_data , test_size=0.3 ,random_state=5)

In [46]:
model.fit(X_train,Y_train)

C:\Users\KARAN SIKARWAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [47]:
predictions = model.predict(x_test)

In [48]:
accuracy_score(predictions,y_test)

0.9316239316239316